*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.marginfix {
    overflow: hidden;
}

.aligh_container {
    width: 1600px;
    margin: 0 auto;
}

.header_container{
    width: 1140px;
    display: flex;
    align-items: center;
    margin-top: 25px;
    position: relative;
    justify-content: center;
    margin-top: 25px;

}

.brand_icon{
    display: flex;
    align-items: center;
    text-decoration: none;

}

.brand_txt{
    font-size: 27px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 32px;
    color: #222222;
    font-weight: 300;
    font-family: "Lato";
    text-align: center;
}

.brand_txt_spec{
    font-size: 27px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 32px;
    color: #f16d7f;
    font-weight: 300;
    font-family: "Lato";
    text-align: center;
}

.header_form{
    margin-left: 30px;

    display: flex;
    align-items: stretch;
    border: 1px solid #eee;
}

.header_form_browse{
    padding: 10px 15px;
    border: none;
    font-size: 14px;
    color: #222222;
    font-weight: 300;
    font-family: "Lato";
}

.header_form_input{
    border: none;
    width: 280px;

    outline: 1px solid #eee;
}
.header_submit_icon{
    width: 14px;
    height: 14px;
    margin: 13px;
    border: none;
    background: url(../img/zoom_icon.png);
}

.header_control{
    margin-left: auto;
}

.button_bin{
    position: relative;
    height: 30px;
    border: none;
    top: 15px;
}

.button_my_account{
    width: 130px;
    height: 38px;
    background-color: #f16d7f;
    font-size: 15px;
    line-height: 32px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Lato";
    border: none;
}

.nav_index{
    display: flex;
    justify-content: center;
    margin: 20px 0px;

}

.nav_index_link{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    color: #222222;
    font-weight: 700;
    font-family: "Lato";
}

.nav_index_link:not(:last-of-type){
    margin-right: 50px;
}

.introduce_block{
    display: block;
    width: 1600px;
    height: 613px;
    background: url(../img/3block_bg.png) no-repeat;
}

.graphic_line{

}

.introduce_txt_container{
    display: block;
    padding-top: 225px;
    padding-left: 255px;
    position: relative;

}

.introduce_txt_container::before{
    display: block;
    content: "";
    width: 12px;
    height: 88px;
    background-color: #f16d7f;
    position: absolute;
    top: 233px;
    left: 230px;
}

.introduce_txt_1_row{
    font-size: 60px;
    display: block;
    text-transform: uppercase;
    color: #222222;
    font-weight: 900;
    font-family: "Lato";
    letter-spacing: 0px;


}

.introduce_txt_2_row{
    font-size: 40px;
    text-transform: uppercase;
    color: #222222;
    font-weight: 900;
    font-family: "Lato";
    letter-spacing: 0px;
    line-height: 40px;
}

.introduce_txt_2_row_color{
    font-size: 40px;
    color: #f16d7f;
    text-transform: uppercase;
    font-weight: 900;
    font-family: "Lato";
    letter-spacing: 0px;
    line-height: 40px;
}